
/* MEDIA M */

@media (min-width: 769px) and (max-width: 992px){
    .bar{
        height: 100%;
    }
    .istalla-prof{
        margin-top: 400px;
    }
    .container{
        justify-content: flex-start;
        gap: 2rem;
    }
    .card{
        flex-shrink: 0;
        width: calc(100% / 4 - 2rem);
    }
    footer{
        display: flex;
        justify-content: space-between;
    }

    .brano{
        gap: 0;
    }
    .card-brano{
        margin: 0;
    }
    .icona-brano{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    .rip-music{
        width: 360px;
    }
    .min,
    .max{
        top: 40px;
    }  
}

/* MEDIA S */

@media (min-width: 576px) and (max-width: 768px){
    .bar{
        height: 100%;
    }
    .container{
        gap: 1rem;
    }
    .card{
        width: calc(100% / 2 - 1rem);
    }
    .istalla-prof{
        margin-top: 60px;
    }
    #footer{
        gap: 1rem;
        justify-content: space-between;
    }
    .icona-brano{
        flex-wrap: wrap;
    }
    .icona-rip i{
        font-size: 1rem;
    }
    .rip-music{
        width: 170px;
    }
    .music-min{
        width: 50px;
    }
    .min{
        top: 45px;
        right: 90%;
    }
    .max{
        top: 45px;
        left: 90%;
    }
}

/* MEDIA XS */

@media screen and (max-width: 576px){
    header{
        width: 50px;
    }
    .bar{
        width: 50px;
        height: calc(100% - 90px);
    }
    .logo img{
        display: none;
    }
    .logo-small img{
        display: block;
        margin: 10px;
    }
    .per-me span{
        display: none;
    }
    .per-me{
        margin: 10px;
    }
    .playlist{
        display: none;
    }
    .istalla-prof{
        margin-top: 300px;
    }
    .istalla{
       border: 0;
       margin: 0;
    }
    .istalla img{
        width: 30px;
    }
    .profile span{
        display: none;
    }
    .img-profile img{
        width: 30px;
        height: 30px;
    }
    .opaca{
        width: calc(100% - 50px);
    }
    .container{
        gap: 2rem;
    }
    .card{
        width: calc(100% / 2 - 2rem);
    }
    #footer{
        gap: 1.5rem;
    }
    .brano{
        gap: 0;
    }
    .icona-brano{
        flex-wrap: wrap;
    }
    .icona-rip i{
        font-size: 1rem;
    }
    .rip-music{
        width: 140px;
    }
    .music-min{
        width: 50px;
    }
    .min{
        top: 45px;
        right: 85%;
    }
    .max{
        top: 45px;
        left: 85%;
    }
    .icona-vol{
        font-size: 0.7rem;
    }
    .volume{
        gap: 1rem;
    }
    .vol-music{
        width: 50px;
    }
    .vol-min{
        width: 22px;
    }
}