*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Montserrat;
   font-weight: bold;
   height: 100vh;
   display: flex;
   background-color: #141922;
   overflow: hidden;
}

/* HEADER NAVBAR  */

.bar{
    width: 250px;
    height: calc(100vw - 120px);
    background-color: #000000;
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* DIV LOGO */

.logo img{
    color: #fff;
    width: 150px;
    margin: 20px;
    display: block;
}

.logo-small img{
    width: 30px;
    color: #fff;
    display: none;
}

/* SECTION PER ME */

.per-me img{
    width: 25px;
    color: #a3a3a3;
}

.per-me{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    font-size: 0.8rem;
}

/* SECTION PLAYLIST */

h3{
    color: #fff;
    margin: 10px;
}

.fa-square-plus{
    font-size: 40px;
    margin-right: 6px;
}

.list-playlist{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 20px 10px;
    list-style: none;
    overflow: scroll;
}

button{
    background-color: #080b12;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 20px;
    border-radius: 15px;
    height: 40px;
    margin-right: 20px;
}

/* SECTION INSTALLA */

.istalla{
    border-bottom: 1px solid #a3a3a3;
    margin-left: 10px;
    width: 160px;
}
.istalla .per-me{
    margin-top: 80px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.istalla img{
    width: 22px;
    color: #a3a3a3;
    margin-right: 10px;
}

/* SECTION PROFILE */

.profile{
    margin: 20px 10px;
}

.img-profile{
    display: flex;
}

.img-profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #a3a3a3; 
    color: #fff; 
    margin-right: 10px;  
}

/* MAIN CENTALE MUSICA */

main{
    display: flex;
    background-color: #141922;   
}

/* SEZIONE BARRA OPACA */

.opaca{
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* BARRA NAVIGAZIONE */

.nav-music{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    margin-top: 20px;
}

li a{
    color: #a3a3a3;
    text-decoration: none; 
}

/* SECTION MUSICA */

.musica{
    margin: 100px 0;
    width:calc(100% - 10px);
    overflow: scroll;
    color: #a3a3a3;
}
h2{
    color: #fff;
    margin: 20px;
}

/* SECTION CARD MUSIC DA SEI */

.container{
    margin: 40px 20px;
    display: flex;
    justify-content: space-around;
}

.card{
    width: calc(100% / 6);
    text-align: center;
}

.card h3{
    font-size: 0.8rem;
}

.card img{
    width: 180px;
}

.sottotitolo{
    margin: 20px;
}

/* SECTION CARD PER DOE */

.brani{
    justify-content: flex-start;
    gap: 3rem;
    text-align: start;
}

/* SECTION POPOLARI */

.card-circle img{
    border-radius: 50%;
}

/* FOOTER CON BAR APP */

footer{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* SECTION BRANO */

.brano{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card-brano{
    display: flex;
    align-items: center;
    margin: 10px;
}

.card-brano img{
    width: 50px;
}

.info{
    font-size: 1rem;
    color: #fff;
    margin-left: 10px;
}

.info h6{
    color: #a3a3a3;
}

.icona{
    color: #a3a3a3;
    display: flex;
    gap: 1rem;
}

/* SECTION RIPRODUZIONE */

.riproduzione{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.riproduzione i{
    color: #fff;
    font-size: 1.4rem;
}

.rip-music{
  background-color: #a3a3a3;
  margin-top: 15px;
  height: 5px;
  width: 500px;
  
}

.min{
    position: absolute;
    top: 57px;
    right: 100%;
    color: #a3a3a3;
    font-size: 0.6rem;
    margin-right: 10px;
}

.max{
    position: absolute;
    top: 57px;
    left: 100%;
    color: #a3a3a3;
    font-size: 0.6rem;
    margin-left: 10px;
}

.music-min{
    background-color: #fff;
    height: 5px;
    width: 200px;
    position: relative;
}

/* .circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
} */

/* SECTION VOLUME */

.volume{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 20px;
}

.vol-music{
    background-color: #a3a3a3;
    margin-top: 15px;
    height: 5px;
    width: 80px;
}

.vol-min{
    background-color: #fff;
    height: 5px;
    width: 20px;
    position: relative;
}


/* MEDIA XS */
@media screen and (max-width: 576px){
    header{
        width: calc(100% - 50px);
    }
    .bar{
        width: 50px;
    }
    .logo img{
        display: none;
    }
    .logo-small img{
        display: block;
        margin: 10px;
    }

}